body {
  padding: 50px;
  font: 16px/1.4 "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

h2 {
  margin-top: 50px;
}

td, th {
  padding: .5em .8em;
  vertical-align: top;
  text-align: left;
}

td.has-label {
  padding: 0;
}

.label {
  display: inline-block;
  padding: .5em .8em;
  color: white;
  border-radius: .25em;
}

.avatar {
  height: 50px;
}

.avatar, .user {
  display: inline-block;
  vertical-align: middle;
}

.gh-notification-details {
  border-top: 1px solid #ccc;
  padding-top: 20px;
  margin-top: 20px;
}
.gh-notification-details:first-child {
  border: 0;
  margin: 0;
  padding: 0;
}